body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[src="Profile.jpg"] {
  border-radius: 50%;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

p {
    margin-top: 10px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttons img {
    height: 40px;
    margin-right: 10px;
}

.stats-images {
    display: flex;
    margin-top: 20px;
}

.stats-images img {
    height: 200px;
    margin-right: 10px;
}
.gambar{
    border-radius: 200px;
    
}