@font-face
{
    font-family: "Jet Brains Mono";
    src: url("assets/fonts/jetbrainsmono/JetBrainsMono-Regular.ttf") format("truetype");
}

Body
{
    text-decoration: none;
    background-color: #282a36;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 50px white;
    font-family: "Jet Brains Mono", sans-serif;
}

.prorile
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.profile img
{
    height: 20vw;
    max-height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.name
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.github-stats, .wakatime
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.github-stats img, .wakatime img
{
    width: 70vw;
    max-width: 75%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.links
{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.links img
{
    transition: all 0.25s ease;
    align-items: center;
    height: 5vw;
    max-height: 30px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.links img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.2);
}
