@font-face {
  font-family: 'Jet Brains Mono';
  src: url('/Fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');

body {
  text-decoration: none;
  background-color: #282a36;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "JetBrainsMono", sans-serif;
}

.profile {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.profile img {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.name {
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 22px 4px 30px white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.github-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.github-stats img {
  height: auto;
  width: auto;
  min-width: 70%;
  max-width: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.links {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.links img {
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
