
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stats-container img {
  height: auto;
  width: 65%;
}

.profile {
  text-align: center;
}

.name {
  margin-top: 20px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.links img {
  height: 40px;
  margin-right: 10px;
}
